.fullLogin {
    width: 100%;
    z-index: 2;
    display: flex;
}

.login {
    z-index: 1;
    background-color: white;
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.login h1 {
    color: #256fdf;
}

.login .linie {
    width: 300px;
}

.login button {
    width: 300px;
}

.login .input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login .button p {
    text-align: center;
}

.login .grey button {
    background-color: #9ba6c4;
}

.presentation {
    width: 50%;
    background-color: #edf0f6;
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.presentation .circle {
    width: 500px;
    height: 500px;
    background-color: #256fdf;
    opacity: 10%;
    border-radius: 50%;
    position: absolute;
    right: -200px;
    bottom: -250px;
}

.presentation .square {
    width: 120px;
    height: 120px;
    background-color: #256fdf;
    opacity: 10%;
    position: absolute;
    transform: rotate(-106deg);
    right: 100px;
    top: 200px;
}

.presentation .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 75px 130px 75px;
    border-color: transparent transparent rgba(37, 111, 223, 0.1)transparent;
    position: absolute;
    transform: rotate(27deg);
    bottom: 200px;
    left: 100px;
}

.presentation img {
    width: 250px;
    margin-bottom: 90px;
}


.presentation .infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
}

.presentation h3 {
    text-align: left;
    color: #256fdf;
    margin-left: 50px;
}

.description {
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.presentation .linie {
    width: 100%;
}

@media only screen and (max-width: 1300px) {

    .login {
        width: 100%;
    }

    .fullLogin {
        flex-direction: column;
    }

    .presentation {
        width: 100%;
    }
}

.log {
    width: 100%;
}
