.fullLogin {
    width: 100%;
    z-index: 2;
    display: flex;
}

.login {
    z-index: 11;
    background-color: white;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.login h1 {
    color: #256fdf;
}

.login .linie {
    width: 90%;
    max-width: 20rem;
}

.login .button {
    width: 90%;
    max-width: 20rem;
}

.login button {
    width: 100%;
}
.login input{
    width: calc(100% - 0.875rem)
} 


.login .input {
    width: 90%;
    max-width: 20rem;

    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.login .button p {
    text-align: center;
}

.login .grey button {
    background-color: #9ba6c4;
}


.log {
    width: 100%;
}
