.main .content .profile .userLogo {
    width: 160px;
    height: 160px;
}

.main .content .profile .userLogo p {
    font-size: 6rem;
}

.main .content .profile {
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
}

.main .content .profile .informations {
    flex-grow: 1;
}

.main .content .profile .informations .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25rem;
}
.main .unfollow {
    color: #256fdf;
    background-color: white;
    border: 2px solid #256fdf;
}

.main .content .profile .data {
    display: flex;
}

.main .content .profile .data .dataElement {
    display: flex;
    align-items: baseline;
    gap: 0.625rem;
}

.main .content .profile .data .dataElement p {
    color: #9ba6c4;
}

.main .content .posts {
    border-top: 1px #c9c9c9 solid;
    padding-top: 1.5rem;
}

.profile input {
    background: url("../Photos/search.svg") no-repeat scroll 4px 4px;
    background-size: 8%;
    background-position-y: center;
    background-position-x: 7px;
    padding-left: 2rem;
    width: 150px;
}

.main .content .search {
    margin-top: 1.5rem;
}

.main .content .mainInfos {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
@media only screen and (min-width: 600px) {
    .main .content .profile .data {
        justify-content: space-between;
    }
    .main .content .profile {
        gap: 50px;
    }
}
@media only screen and (max-width: 600px) {
    .profile input {
        width: 100%;
        background-size: 6%;
        margin-top: 0.5rem;
    }
    .mainInfos .profile,
    .search .profile {
        flex-direction: column;
        gap: 1.25rem;
    }
    .profile .informations .title h2,
    .search .profile .h2,
    .search .profile .title a {
        width: 100%;
        text-align: center;
    }
    .profile .informations .data {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    .profile .informations .title {
        gap: 1.25rem;
        flex-direction: column;
    }
    .main .content .profile {
        margin-bottom: 3rem;
    }
}
