.sidebar {
    position: fixed;
    width: 12rem;
    background-color: white;
    padding-left: 60px;
    height: 100vh;
}

.sidebar .linie {
    width: calc(100% - 60px);
    height: 1px;
    display: block;
    background-color: #c9c9c9;
}

.sidebarElement,
.sidebar h3 {
    padding: 1rem 0;
}

.sidebar h3:nth-child(1) {
    padding-top: 2rem;
}

.sidebarElement p {
    position: absolute;
    left: 6.5rem;
}

.sidebarElement {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebarElement:hover .icon {
    color: #256fdf;
}

.sidebarElement:hover p {
    color: #14275a;
}

.sidebar .logo {
    padding-top: 70px;
    padding-bottom: 2rem;
    margin-bottom: 0px;
    width: 10rem;
}

.sidebarElement p,
.sidebarElement .icon {
    color: #9ba6c4;
}

.sidebarElement .icon {
    color: #9ba6c4;
    font-size: 1.2rem;
}

.sidebar .logoContainer {
    width: calc(100% - 60px);
    display: flex;
    justify-content: center;
}

.sidebar .selected .icon {
    color: #256fdf;
}

.sidebar .selected p {
    color: #14275a;
}

.sidebar .account {
    pointer-events: none;
}

.menueIcon {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #256fdf;
    text-align: center;
    color: white;
    padding: 1rem;
    cursor: pointer;
    display: none;
}

.menueIcon h4 {
    color: white;
}

.menueIcon h4:hover{
    font-style: italic;
}

.back {
    display: none;
}
