.content .create .section {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 2rem;
}

.content .create .section p {
    margin-bottom: 1rem;
}

.content .create .section .description {
    height: 6.25rem;
    width: calc(100% - 1rem);
}

textarea {
    resize: none;
}

.content .create .section .divS2 {
    flex-grow: 1;
    width: 100%;
    position: relative;
}

.content .create .section .colors {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.content .create .section .colors .color {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
}

.content .create .section .colors .selected {
    border: #707070 3px solid;
    width: 1.875rem;
    height: 1.875rem;
}


.content .preview {
    margin-top: 2rem;
    border-top: 1px #c9c9c9 solid;
}

.content .preview #title {
    margin: 2rem 0;
}


@media only screen and (min-width: 600px) {
.content .create .section .divS2 button {
    position: absolute;
    right: 0;
    bottom: 0.25rem;
}
}
@media only screen and (max-width: 600px) {
    .create .section {
        flex-wrap: wrap;
    }
    .content .create button {
        position: relative;
        margin: 0 auto;
        margin-top: 2rem;
        width: 100%;
    }

    .create .section div{ 
        width: 100%;
    }
}
